:root {
  --bg-header: hsl(0, 0%, 100%);
  --bg-default: #f3f2ef;
  --bg-hover-header-icon: #000;
  --bg-header-icon: #494949;
  --brand-gray-color: #494949;
  --bg-header-bottom-border: lightgray;
  --border-color: lightgray;
  --color-brand: #0a66c2;
  background-color: var(--bg-default);
  --bg-card: #fff;
  --box-shadow-color: #f3f2ef;
}
