.xy--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--hover-cursor {
  cursor: pointer;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}
.flex-direction-row {
  display: flex;
  flex-direction: row;
}
.title {
  text-align: center;
  margin: auto;
  padding: auto;
}
.b {
  border: 1px solid black;
}
