.sidebar {
  flex: 0.2;
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.sidebar__top {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar__top__userName {
  font-weight: 600;
}
.sidebar__top__bgImg {
  width: 100%;
  height: 120px;
}
.sidebar__top__img {
  width: 100%;
  height: 120px;
}
.sidebar__top__detail {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__top__about {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  color: var(--brand-gray-color);
}
.sidebar__top__avatar {
  position: relative;
  bottom: 25px;
}
.sidebar__middle {
  border-top: 1px solid var(--border-color);
}
.sidebar__stat__wrapper {
  margin: 10px;
}
.sidebar__stat {
  /* display: grid;
  grid-template-columns: 80% 20%; */
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
}
.sidebar__stat__heading {
  color: var(--brand-gray-color);
  font-weight: 500;
}
.sidebar__stat__number {
  color: var(--color-brand);
  font-weight: 500;
}
