.profileSetup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.profileSetup__card {
  width: 40vw;
  background-color: var(--bg-card);
  height: 600px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 10px;
}
.profileSetup__card__bgImg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profileSetup__card__bgImg img {
  width: 100%;
  max-height: 20vh;
}
.profileSetup__card__bgImg {
  display: flex;
  flex-direction: column;
}
.profileSetup__card__dpWrapper {
  cursor: pointer;

  display: flex;
  justify-content: center;
}
.profileSetup__card__dp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  position: relative;
  bottom: 85px;
  justify-content: center;
  align-items: center;
}
.profileSetup__card__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileSetup__card__name p {
  border: none;
  outline: none;
}
.profileSetup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profileSetup__form label {
  font-size: 30px;
}
.profileSetup__form input {
  width: 80%;
  height: 40px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
}
